<div id="gamearea">
    <div class="metagrid">
        <div class="square meta top left">
            <div class="square micro top left"></div>
            <div class="square micro top center"></div>
            <div class="square micro top right"></div>

            <div class="square micro middle left"></div>
            <div class="square micro middle center"></div>
            <div class="square micro middle right"></div>

            <div class="square micro bottom left"></div>
            <div class="square micro bottom center"></div>
            <div class="square micro bottom right"></div>
        </div>
        <div class="square meta top center">
            <div class="square micro top left"></div>
            <div class="square micro top center"></div>
            <div class="square micro top right"></div>

            <div class="square micro middle left"></div>
            <div class="square micro middle center"></div>
            <div class="square micro middle right"></div>

            <div class="square micro bottom left"></div>
            <div class="square micro bottom center"></div>
            <div class="square micro bottom right"></div>
        </div>
        <div class="square meta top right">
            <div class="square micro top left"></div>
            <div class="square micro top center"></div>
            <div class="square micro top right"></div>

            <div class="square micro middle left"></div>
            <div class="square micro middle center"></div>
            <div class="square micro middle right"></div>

            <div class="square micro bottom left"></div>
            <div class="square micro bottom center"></div>
            <div class="square micro bottom right"></div>
        </div>


        <div class="square meta middle left">
            <div class="square micro top left"></div>
            <div class="square micro top center"></div>
            <div class="square micro top right"></div>

            <div class="square micro middle left"></div>
            <div class="square micro middle center"></div>
            <div class="square micro middle right"></div>

            <div class="square micro bottom left"></div>
            <div class="square micro bottom center"></div>
            <div class="square micro bottom right"></div>
        </div>
        <div class="square meta middle center">
            <div class="square micro top left"></div>
            <div class="square micro top center"></div>
            <div class="square micro top right"></div>

            <div class="square micro middle left"></div>
            <div class="square micro middle center"></div>
            <div class="square micro middle right"></div>

            <div class="square micro bottom left"></div>
            <div class="square micro bottom center"></div>
            <div class="square micro bottom right"></div>
        </div>
        <div class="square meta middle right">
            <div class="square micro top left"></div>
            <div class="square micro top center"></div>
            <div class="square micro top right"></div>

            <div class="square micro middle left"></div>
            <div class="square micro middle center"></div>
            <div class="square micro middle right"></div>

            <div class="square micro bottom left"></div>
            <div class="square micro bottom center"></div>
            <div class="square micro bottom right"></div>
        </div>


        <div class="square meta bottom left">
            <div class="square micro top left"></div>
            <div class="square micro top center"></div>
            <div class="square micro top right"></div>

            <div class="square micro middle left"></div>
            <div class="square micro middle center"></div>
            <div class="square micro middle right"></div>

            <div class="square micro bottom left"></div>
            <div class="square micro bottom center"></div>
            <div class="square micro bottom right"></div>
        </div>
        <div class="square meta bottom center">
            <div class="square micro top left"></div>
            <div class="square micro top center"></div>
            <div class="square micro top right"></div>

            <div class="square micro middle left"></div>
            <div class="square micro middle center"></div>
            <div class="square micro middle right"></div>

            <div class="square micro bottom left"></div>
            <div class="square micro bottom center"></div>
            <div class="square micro bottom right"></div>
        </div>
        <div class="square meta bottom right">
            <div class="square micro top left"></div>
            <div class="square micro top center"></div>
            <div class="square micro top right"></div>

            <div class="square micro middle left"></div>
            <div class="square micro middle center"></div>
            <div class="square micro middle right"></div>

            <div class="square micro bottom left"></div>
            <div class="square micro bottom center"></div>
            <div class="square micro bottom right"></div>
        </div>
</div>