.content {
    
}
    .gamearea {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        background-color: #1d1d1d;
    }
        .metagrid {
            display: inline-block;
            background-color: #cecece;
            width: 100%;
            position: relative;
            padding-bottom: 100%;
        }

            .square {
                display: inline-block;
                width: 33.333333%;
                height: 33.333333%;
                margin: 0;
                /*background-color: #3333aa;*/
                position: absolute;
            }

                .square.top { top: 0; }
                .square.middle { top: 33.333333%; }
                .square.bottom { bottom: 0; }

                .square.left { left: 0; }
                .square.center { left: 33.333333%; }
                .square.right { right: 0; }

                .square.meta {
                    box-sizing: content-box;
                }

                    .square.meta.left, .square.meta.right {
                        border-left: 2px solid #4444aa;
                        border-right: 2px solid #4444aa;
                    }
                    .square.meta.top, .square.meta.bottom { 
                        border-top: 2px solid #4444aa;
                        border-bottom: 2px solid #4444aa;
                    }
                
                .square.micro {
                    cursor: pointer;
                }
                    .square.micro.left { border-right: 2px solid #9696ce; }
                    .square.micro.right { border-left: 2px solid #9696ce; }

                    .square.micro.top { border-bottom: 2px solid #9696ce; }
                    .square.micro.bottom { border-top: 2px solid #9696ce; }

/*device orientation specific layouts*/
@media (orientation: landscape) {
    .gamewrapper {
        width: 40%;
        margin: 8px auto;
    }
}
@media (orientation: portrait) {
    .gamewrapper {
        width: 100%;
        margin: 8px auto;
    }
}