<!DOCTYPE html>
<html>
    <head>
        <title>Super Tic-Tac-Toe - Welcome to the Ultimate Minimalist Strategy Game</title>
        <meta charset="UTF-8"> 
        <script src="/static/scripts/socket.io.js"></script>
    </head>
    <body>
        <div class="content">
            <a href="/play" class="bigbutton">
                <h1>Play Now!</h1>
            </a>
        </div>
    </body>
</html>